<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="main.css">
    <title>Todo</title>
    <script>
        var todoLists = '<%- JSON.stringify(todoLists) %>'
    </script>
</head>

<body>
    <div id="container">
        <div id="overlay" class="hidden"></div>
        <div id="containerModal" class="hidden">
            <div id="modal">
                <input id="modalInput" type="text">
                <input id="editedTodo" type="text" class="hidden">
                <button id="submitChange">Submit change</button>
                <button id="cancelModal">Cancel</button>
            </div>
        </div>
        <div id="containerTodo">
            <button id="newTodo">New Todo</button>
            <input id="inputTitle" type="text" class="hidden">
            <button type="submit" id="submitTodo" class="hidden">Submit</button>
            
            <button id="newList">New List</button>
            <input id="inputListTitle" type="text" class="hidden">
            <button type="submit" id="submitList" class="hidden">Submit</button>
        </div>
        <div id="containerSort">
            <button>Added</button>
            <button>Last updated</button>
        </div>
        <div id="listContainer">
            <% for (let i = 0; i < todoLists.length) { %>
                <div id="<%= todoLists[i]._id %>">
                    <h1><%= todoLists[i].title %></h1>
                    <div id="todoItems">
                        <% for(let i=0; i < todos.length; i++){ %>
                        <table class="tableItem">
                            <tbody id="<%= todos[i]._id %>">
                                <tr>
                                    <td>Title: </td>
                                    <td class="title <%= todos[i]._id %>"><%= todos[i].title %></td>
                                </tr>
                                <tr>
                                    <td>Added: </td>
                                    <td id="date_added"><%= todos[i].date_added %></td>
                                </tr>
                                <tr>
                                    <td>Last updated: </td>
                                    <td id="date_updated"><%= todos[i].date_updated %></td>
                                </tr>
                                <tr>
                                    <td>Done: </td>
                                    <% if(todos[i].done == true){ %>
                                    <td><input class="checkbox <%= todos[i]._id %>" checked type="checkbox" name="done"
                                            value="<%= todos[i]._id %>"></td>
                                    <% } else{ %>
                                    <td><input class="checkbox <%= todos[i]._id %>" type="checkbox" name="done"
                                            value="<%= todos[i]._id %>"></td>
                                    <% } %>
                                </tr>
                                <tr class="padding-none">
                                    <td class="padding-none"><button value="<%= todos[i]._id %>" class="deleteBtn">Delete</button>
                                    </td>
                                    <td class="padding-none"><button value="<%= todos[i]._id %>" class="editBtn">Edit</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <% } %>
                    </div>        
                </div>
                <% } %>            
        </div>
        <div id="logout">
            <button onclick="localStorage.removeItem('token')">Log out</button>
        </div>
    </div>
</body>

</html>