<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="main.css">
    <title>Todo</title>
    <script>
        var todoLists = '<%- JSON.stringify(todoLists) %>'
    </script>
</head>

<body>
    <div id="container">
        <div id="overlay" class="hidden"></div>
        <div id="containerModal" class="hidden">
            <div id="modal">
                <input id="modalInput" type="text">
                <input id="editedTodo" type="text" class="hidden">
                <button id="submitChange">Submit change</button>
                <button id="cancelModal">Cancel</button>
            </div>
        </div>
        <div id="containerTodo">
            <button id="newList">New List</button>
            <input id="inputListTitle" type="text" class="hidden">
            <button type="submit" id="submitList" class="hidden">Submit</button>
        </div>
        <div id="containerSort">
            <button>Added</button>
            <button>Last updated</button>
        </div>
        <div id="listContainer">
            <% for (let i1 = 0; i1 < todoLists.length; i1++) { %>
            <div id="<%= todoLists[i1]._id %>">
                <h1><%= todoLists[i1].title %></h1>
                <button value="<%= todoLists[i1]._id %>" class="deleteListBtn">Delete list</button>
                <button class="newTodo <%= todoLists[i1]._id %>">New Todo</button>
                <input type="text" class="inputTodo <%= todoLists[i1]._id %> hidden">
                <button type="submit" class="submitTodo <%= todoLists[i1]._id %> hidden" value="<%= todoLists[i1]._id %>">Submit</button>
                <div id="todoItems">
                    <% if (todoLists[i1].todos.length !== null) { %>
                    <% for(let i2 = 0; i2 < todoLists[i1].todos.length; i2++) { %>
                    <table class="tableItem">
                        <tbody id="<%= todoLists[i1].todos[i2]._id %>">
                            <tr>
                                <td>Title: </td>
                                <td class="title <%= todoLists[i1].todos[i2]._id %>"><%= todoLists[i1].todos[i2].title %>
                                </td>
                            </tr>
                            <tr>
                                <td>Added: </td>
                                <td id="date_added"><%= todoLists[i1].todos[i2].date_added %></td>
                            </tr>
                            <tr>
                                <td>Last updated: </td>
                                <td id="date_updated"><%= todoLists[i1].todos[i2].date_updated %></td>
                            </tr>
                            <tr>
                                <td>Done: </td>
                                <% if(todoLists[i1].todos[i2].done == true){ %>
                                <td><input class="checkbox <%= todoLists[i1].todos[i2]._id %>" checked type="checkbox"
                                        name="done" value="<%= todoLists[i1].todos[i2]._id %>"></td>
                                <% } else{ %>
                                <td><input class="checkbox <%= todoLists[i1].todos[i2]._id %>" type="checkbox" name="done"
                                        value="<%= todoLists[i1].todos[i2]._id %>"></td>
                                <% } %>
                            </tr>
                            <tr class="padding-none">
                                <td class="padding-none"><button value="<%= todoLists[i1].todos[i2]._id %>"
                                        class="deleteBtn">Delete</button>
                                </td>
                                <td class="padding-none"><button value="<%= todoLists[i1].todos[i2]._id %>"
                                        class="editBtn">Edit</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <% } %>
                    <% } %>
                </div>
            </div>
            <% } %>
        </div>
        <div id="logout">
            <button onclick="localStorage.removeItem('token')">Log out</button>
        </div>
    </div>
</body>

</html>